<!DOCTYPE html>
<html>
<head>
<title>API Params to JSON</title>
<link rel="stylesheet"
	href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 class="text-center">API Params to JSON</h1>
	<form role="form" action="/doApi" method="post">
		<div class="form-group">

			<div class="col-lg-offset-2 col-lg-10">
				<label for="name">Please input the api parameter:</label> <br>
				<textarea  rows="1" cols="100" name="api" placeholder="com.wacai.finance.share.p2p.entity.P2pOrder" >$!api</textarea><br>
				<span class="help-block">e.g. com.wacai.finance.share.p2p.entity.P2pOrder</span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<label>The JSON String is:</label><br>
				<textarea rows="20" cols="100">$!jsonText</textarea>
				<br>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-info">Submit</button>
			</div>
		</div>
	</form>


</body>
</html>


